.slidecontainer {
    width: 30%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4b5fb6;
    cursor: default;
  }

  body {
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
  }

  ul,
li {
  line-height: 20px;
  list-style-type: square;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 20px;
}

img {
  border-radius: 50%;
  margin-right: 50px;
}

.personal-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

table {
  text-align: center;
}

table,
tr,
th,
td {
  border: 1px transparent;
  padding: 5px;
}

th {
  font-weight: bold;
  text-align: center;
}


#pickedcolor {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}